/* 
Para aplicarmos estilizações em seções diferentes do HTML, devemos definir ID ou CLASS, por ex:

id: <h1 id="titulo">Primeira aula de CSS externo</h1>
class: <img class="center" src="http://www.google.com/google.jpg">

class = Se aplicará para todos os elementos que possuirem a mesma class, no CSS deverá ser referenciado assim: .exempo
id = Apenas para um único elemento, algo exclusivo, no CSS deverá ser referenciado assim: #exemplo 
*/
body {
    margin: 0;
    background-color: cadetblue;
    color: azure;
}
h1 {
    color: blueviolet;
    text-align: center
}
img {
    width: 200px;
}
#titulo {
    color: crimson;
    font-size: 50px;
}
.center { /* Centralização de uma imagem */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.submenu {
    width: 100%;
    height: 100px;
    background-color: brown;
}
.menu-esq {
    width: 200px;
    height: 300px;
    background-color: aqua;
    float: left;
    text-align: center;
}
.menu-dir{
    width: 200px;
    height: 300px;
    background-color: aqua;
    float: right;
    text-align: center;
}
.conteudo {
    width: 100%;
    height: 300px;
    background-color: darkcyan;
    text-align: center;
}
.alerta {
    background-color: yellow;
    color: black;
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-style: italic;
}